version: '3.8'

services:
  php:
    build: ./php
    container_name: php_app
    volumes:
      - ./libreria:/var/www/html
    ports:
      - "3000:80"
    depends_on:
      - db

  db:
    image: mariadb:10.6
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: libreria
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
